<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">

	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="RPGMapUserDetailsService" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
		<custom-authentication-provider />
	</beans:bean>

	<beans:bean id="passwordEncoder" class="com.cyface.rpg.map.server.mapservice.ClearPasswordEncoder" />

	<beans:bean id="authenticationManager" class="org.springframework.security.providers.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref local="daoAuthenticationProvider" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="RPGMapUserDetailsService" class="com.cyface.rpg.map.server.mapservice.UserDetailsServiceImpl" />

	<global-method-security secured-annotations="enabled">
		<!--
			AspectJ pointcut expression that locates our "post" method and
			applies security that way <protect-pointcut expression="execution(*
			bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
		-->
	</global-method-security>

	<http auto-config="true">
		<intercept-url pattern="/secure/extreme/**" access="ROLE_ALL" />
		<intercept-url pattern="/secure/**" access="ROLE_ALL" />
		<!--
			Disable web URI authorization, as we're using <global-method-security> and have @Secured the services layer instead <intercept-url pattern="/listAccounts.html" access="IS_AUTHENTICATED_REMEMBERED" />
		-->
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-page="/login.vm" />

		<!--
			All of this is unnecessary if auto-config="true" <form-login />
			<anonymous /> <http-basic /> <logout /> <remember-me />
		-->

		<!--
			Uncomment to limit the number of sessions a user can have
			<concurrent-session-control max-sessions="1"
			exception-if-maximum-exceeded="true"/>
		-->
	</http>

</beans:beans>